<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        
        .menu {
            height: 63.6%;
            width: 90px;
            position: fixed;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            white-space: nowrap;
            z-index: 1;
            background-color: #111;
            
        }
        
        .menu a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            display: block;
            transition: 0.3s;
            font-size: 22px;
            color: #818181;
        }
        
        .menu a:hover {
            color: #f1f1f1;
        }
        
        .material-icons {
            padding-bottom: 3px;
        }
        
        .material-icons,
        .icon-text {
            vertical-align: middle;
        }
        
        #main {
            transition: margin-left .5s;
            padding: 16px;
            margin-left: 90px;
        }

        #boox{
            transition: margin-left .5s;
            padding: 16px;
            margin-left: 90px;
            background-color: white;
            position:absolute;
            width: 260px;
            height: 100px;
            top: -10px;
            left: -30px;
            z-index: -1;
            filter: blur(60px);
            -webkit-filter: blur(60px);

        }

        p{
            font-size: 16px;
            font-weight: bold;
        }
        
        @media screen and (max-height: 450px) {
            .menu {
                padding-top: 15px;
            }
            .menu a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>

    <div id="myMenu" class="menu" onmouseover="toggleMenu()" onmouseout="toggleMenu()">
        <div class="logo">
        <h6 class="text-white h3" style="position:relative; left: 80px; top: 12px;">Pixela</h6>
        </div>
        <a href="#"><i class="material-icons">account_circle</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account</a></span>
        </a><br>
        <a href="#"><i class="material-icons">shopping_cart</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cart</span></a><br>
        <a href="#"><i class="material-icons">email</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact<span></a>
    </div>

    <div id="boox"></div>
    <div id="main">
        <h2>Pixela</h2>
        <p>For nostalgic memories.</p>
    </div>

    <script>
        var mini = true;

        function toggleMenu() {
            if (mini) {
                console.log("opening menu");
                document.getElementById("myMenu").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.getElementById("boox").style.marginLeft = "250px";
                this.mini = false;
            } else {
                console.log("closing menu");
                document.getElementById("myMenu").style.width = "90px";
                document.getElementById("main").style.marginLeft = "90px";
                document.getElementById("boox").style.marginLeft = "90px";
                this.mini = true;
            }
        }
    </script>

</body>

</html>
<div class="search-bar">
    <input class="search-tool" type="text" name="" placeholder="Looking For Something?">
    <a class="search-button" href="#">
    <i class="fa-solid fa-magnifying-glass"></i>
    </a>
</div>

<div id="slideshow">
    <figure>
        <img src="https://i.postimg.cc/YqZ6cGh8/pic1.jpg">
        <img src="https://i.postimg.cc/90S7jKFz/pic2.jpg">
        <img src="https://i.postimg.cc/661RR2Lw/pic3.jpg">
        <img src="https://i.postimg.cc/GhWy7W55/pic4.jpg">
        <img src="https://i.postimg.cc/FKZkK7sM/pic5.jpg">
        <img src="https://i.postimg.cc/nr6CWm0D/pic6.jpg">
        <img src="https://i.postimg.cc/XYxsyKLL/pic7.jpg">
        <img src="https://i.postimg.cc/hG5M2SH7/pic8.jpg">
        <img src="https://i.postimg.cc/sD4ctPkz/pic9.jpg">
        <img src="https://i.postimg.cc/YqZ6cGh8/pic1.jpg">
    </figure>
</div>

<div class="grid" style="position:absolute; top: 30px; left: 1170px;">
    <a href="#">
        <div class="item1" style="position:absolute; top: 100px; left: -108px;">
            <p5 style="position: absolute; top: 60px; left: 10px;">Battery</p5>
            <p6 style="position: absolute; top: 550px; left: -5px; width: 800px; height: 50px;">Canon cameras have an average battery life of 850 shots per charge, although this varies greatly depending on the condition of your battery and how you use your camera.</p6>
        </div>
        <div class="circle"></div>
    </a>
    <a href="#">
        <div class="item2" style="position:absolute; top: 85px; left: 115px;">
            <p5 style="position: absolute; top: 80px; left: 0px;">Interface Cable</p5>
            <p6 style="position: absolute; top: 565px; left: -228px; width: 800px; height: 50px;">The Canon Interface Cable allows you to quickly transfer photos from a compatible camera to a computer. The cable links your camera to a USB port on your computer, whether it's a PC or a Mac.</p6>
        </div>
        <div class="circle2"></div>
    </a>
    <a href="#">
        <div class="item3" style="position:absolute; top: 85px; left: 337px;">
            <p5 style="position: absolute; top: 80px; left: 0px;">Battery Pack</p5>
            <p6 style="position: absolute; top: 565px; left: -450px; width: 800px; height: 50px;">To extend the battery pack's life, totally discharge it before storing it, and store it in a dry place at temperatures no higher than 30°C.</p6>
        </div>
        <div class="circle3"></div>
    </a>
    <a href="#">
        <div class="item4" style="position:absolute; top: 340px; left: -105px;">
            <p5 style="position: absolute; top: 80px; left: 0px;">Camera Strap</p5>
            <p6 style="position: absolute; top: 310px; left: -5px; width: 800px; height: 50px;">A camera strap is an excellent tool for supporting the weight of camera equipment while still allowing it to be easily accessible.</p6>
        </div>
        <div class="circle4"></div>
    </a>
    <a href="#">
        <div class="item5" style="position:absolute; top: 93px; left: 560px;">
            <p5 style="position: absolute; top: 70px; left: 0px;">Canon Lenses</p5>
            <p6 style="position: absolute; top: 557px; left: -673px; width: 800px; height: 50px;">Camera lenses have a field of vision that is generally equivalent to the field of view that the human eye can easily perceive, resulting in images that appear "natural" to the viewer.</p6>
        </div>
        <div class="circle5"></div>
    </a>
    <a href="#">
        <div class="item6" style="position:absolute; top: 351px; left: 115px;">
            <p5 style="position: absolute; top: 70px; left: 0px;">Camera Tripod</p5>
            <p6 style="position: absolute; top: 300px; left: -230px; width: 800px; height: 50px;">With a tripod, you can use a long exposure, which is a slower shutter speed of up to several seconds, without the risk of moving the camera.</p6>
        </div>
        <div class="circle6"></div>
    </a>
    <a href="#">
        <div class="item7" style="position:absolute; top: 345px; left: 335px;">
            <p5 style="position: absolute; top: 75px; left: 3px;">Extension Flash</p5>
            <p6 style="position: absolute; top: 305px; left: -447px; width: 800px; height: 50px;">External camera flash is a highly beneficial light source as you can control distance and power of your light.</p6>
        </div>
        <div class="circle7"></div>
    </a>
    <a href="#">
        <div class="item8" style="position:absolute; top: 350px; left: 560px;">
            <p5 style="position: absolute; top: 70px; left: 3px;">Canon EOS R5</p5>
            <p6 style="position: absolute; top: 300px; left: -670px; width: 800px; height: 50px;">The Canon EOS R5 is a 45MP full-frame mirrorless camera with remarkable Dual Pixel autofocus and good ergonomics. It can capture 8K video clips and has impressive Dual Pixel autofocus.</p6>
        </div>
        <div class="circle8"></div>
    </a>
</div>
<div class="square"></div>
<div class="square2"></div>