<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <style>
        
        .menu {
            height: 63.6%;
            width: 90px;
            position: fixed;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
            white-space: nowrap;
            z-index: 1;
            background-color: #111;
            
        }
        
        .menu a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            display: block;
            transition: 0.3s;
            font-size: 22px;
            color: #818181;
        }
        
        .menu a:hover {
            color: #f1f1f1;
        }
        
        .material-icons {
            padding-bottom: 3px;
        }
        
        .material-icons,
        .icon-text {
            vertical-align: middle;
        }
        
        #main {
            transition: margin-left .5s;
            padding: 16px;
            margin-left: 90px;
        }

        #boox{
            transition: margin-left .5s;
            padding: 16px;
            margin-left: 90px;
            background-color: white;
            position:absolute;
            width: 250px;
            height: 100px;
            top: -10px;
            left: -30px;
            z-index: -1;
            filter: blur(60px);
            -webkit-filter: blur(60px);

        }

        p{
            font-size: 16px;
        }
        
        @media screen and (max-height: 450px) {
            .menu {
                padding-top: 15px;
            }
            .menu a {
                font-size: 18px;
            }
        }
    </style>
</head>

<body>

    <div id="myMenu" class="menu" onmouseover="toggleMenu()" onmouseout="toggleMenu()">
        <div class="logo">
        <h6 class="text-white h3" style="position:relative; left: 80px; top: 12px;">Pixela</h6>
        </div>
        <a href="#"><i class="material-icons">account_circle</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account</a></span>
        </a><br>
        <a href="#"><i class="material-icons">shopping_cart</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Cart</span></a><br>
        <a href="#"><i class="material-icons">email</i><span class="icon-text"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contact<span></a>
    </div>

    <div id="boox"></div>
    <div id="main">
        <h2>Pixela</h2>
        <p>For nostalgic memories.</p>
    </div>

    <script>
        var mini = true;

        function toggleMenu() {
            if (mini) {
                console.log("opening menu");
                document.getElementById("myMenu").style.width = "250px";
                document.getElementById("main").style.marginLeft = "250px";
                document.getElementById("boox").style.marginLeft = "250px";
                this.mini = false;
            } else {
                console.log("closing menu");
                document.getElementById("myMenu").style.width = "90px";
                document.getElementById("main").style.marginLeft = "90px";
                document.getElementById("boox").style.marginLeft = "90px";
                this.mini = true;
            }
        }
    </script>

</body>

</html>
<div class="search-bar">
    <input class="search-tool" type="text" name="" placeholder="Looking For Something?">
    <a class="search-button" href="#">
    <i class="fa-solid fa-magnifying-glass"></i>
    </a>
</div>

<div id="slideshow">
    <figure>
        <img src="https://i.postimg.cc/YqZ6cGh8/pic1.jpg">
        <img src="https://i.postimg.cc/90S7jKFz/pic2.jpg">
        <img src="https://i.postimg.cc/661RR2Lw/pic3.jpg">
        <img src="https://i.postimg.cc/GhWy7W55/pic4.jpg">
        <img src="https://i.postimg.cc/FKZkK7sM/pic5.jpg">
        <img src="https://i.postimg.cc/nr6CWm0D/pic6.jpg">
        <img src="https://i.postimg.cc/XYxsyKLL/pic7.jpg">
        <img src="https://i.postimg.cc/hG5M2SH7/pic8.jpg">
        <img src="https://i.postimg.cc/sD4ctPkz/pic9.jpg">
        <img src="https://i.postimg.cc/YqZ6cGh8/pic1.jpg">
    </figure>
</div>

