<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4" style="position:relative; width:12%; top: 10px; left: 10px;">
    <h5 class="text-white h5"><a href="#">Account</a></h5>
    <h5 class="text-white h5"><a href="#">Your Cart</a></h5>
    <h5 class="text-white h5"><a href="#">Contact Us</a></h5>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark" style="position:relative; width:12%; top: 10px; left: 10px;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="logo"></div>
    <h6 class="text-white h4" style="position:relative; left: -10px; top: 5px;">Pixela</h6>
  </div>
</nav>
<div class="search-bar">
    <input class="search-tool" type="text" name="" placeholder="Looking For Something?">
    <a class="search-button" href="#">
    <i class="fa-solid fa-magnifying-glass"></i>
    </a>
</div>