
.store {
  body{
    background-color: black;
  }
  *{
    background-color: black;
  }
  html{
    background-color: black;
  }
  body{
    background-color: black;
  }
  background-color: black;
  max-width: 80em;
  ul.catalog {
    background-color: black;
    list-style: none;
    padding: 8em;
    margin: 0;
    h2{
      font-size: 1.5em;
    }
    h2:hover{
      color:blue;
    }
    li {
      padding: 1em;
      margin: 0;
      border-bottom: solid thin #ddd;
      background-color: black;
      // This makes sure our <li> has enough height
      // to hold the entire image, since it's floated
      &::after {
        clear: both;
        content: " ";
        display: block;
      }
      p{
      font-size: 0.93em;
      }
      p:hover{
        color: blue;
      }
      em:hover{
        color:blue;
      }
      img {
        height: 11.3em;
        width:  12.0em;
        float: left;
        padding: 1em;
        margin-right: 1em;
        margin-bottom: 1em;
        box-shadow: 0.176em 0.176em 0.354em 0px rgba(0,0,0,0.75);
      }
      .price {
        font-size: 1.4em;

      }
      .price:hover{
        color:blue;
      }
    }
  }
}
