input[type="submit"] {
  background-color: white;
  border-radius: 0.354em;
  border: solid thin #441;
  color: black;
  font-size: 1em;
  padding: 0.354em 1em;
}
input[type="submit"]:hover {
  background-color: black;
}
.alert-success {
background-color: black;
color:white;
}

*{

    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;

}

h2{
    font-weight: bold;
}

.search-bar{
    position: absolute;
    height: 45px;
    border-radius: 40px;
    padding: 7px;
    top: 43px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-color: white;
    border-style: solid;
}

.search-button{
    float: right;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #2f3640;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    outline: none;
    text-decoration: none;
}
.search-tool{
    width: 0px;
    float: left;
    color: white;
    padding: 0;
    font-size: 16px;
    transition: 0.5s;
    line-height: 25px;
    border: none;
    background: none;
    outline: none;
}
.search-bar:hover > .search-tool, .search-tool:focus{
    width: 250px;
    padding: 0 6px;
}
.search-bar:hover > .search-button{
    background: white;
}
.logo{
    position: relative;
    top: -35px;
    left: 16px;
    width: 50px;
    height: 50px;
    background: url(pixela2.jpg) no-repeat;
}

#slideshow {
    overflow:hidden;
    top: -118px;
    width: 870px;
    left: 90px;
    position: relative;
    z-index: -2;
}

#slideshow figure{

    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 50s slideshow infinite;
}

#slideshow figure img{

    float: left;
    width: 10%;
}

@keyframes slideshow {
    0%{
        left:0;
    }
    7%{
        left:0;
    }
    9%{
        left: -100%;
    }
    21%{
        left: -100%;
    }
    23%{
        left: -200%;
    }
    35%{
        left: -200%;
    }
    37%{
        left: -300%;
    }
    45%{
        left: -300%;
    }
    47%{
        left: -400%;
    }
    55%{
        left: -400%;
    }
    57%{
        left: -500%;
    }
    65%{
        left: -500%;
    }
    67%{
        left: -600%;
    }
    75%{
        left: -600%;
    }
    77%{
        left: -700%;
    }
    85%{
        left: -700%;
    }
    87%{
        left: -800%;
    }
    95%{
        left: -800%;
    }
    97%{
        left: -900%;
    }
    100%{
        left: -900%;
    }
}

.item1{
    height: 80px;
    width: 80px;
    background: url(cam1.jpg) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item2{
    height: 80px;
    width: 80px;
    background: url(cam2.jpg) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item3{
    height: 80px;
    width: 80px;
    background: url(cam3.jpg) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item4{
    height: 80px;
    width: 80px;
    background: url(cam5.jpg) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item5{
    height: 80px;
    width: 80px;
    background: url(cam6.jpg) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item6{
    height: 80px;
    width: 80px;
    background: url(cam7.jpg) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item7{
    height: 80px;
    width: 80px;
    background: url(cam8.png) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item8{
    height: 80px;
    width: 80px;
    background: url(cam9.jpg) no-repeat;
    background-size: 80%;
    background-position: center;
    transition: 0.3s;
}

.item1:hover{
    background-size: 100%;
    background-position: center;
}

.item2:hover{
    background-size: 100%;
    background-position: center;
}

.item3:hover{
    background-size: 100%;
    background-position: center;
}

.item4:hover{
    background-size: 100%;
    background-position: center;
}

.item5:hover{
    background-size: 100%;
    background-position: center;
}

.item6:hover{
    background-size: 100%;
    background-position: center;
}

.item7:hover{
    background-size: 100%;
    background-position: center;
}

.item8:hover{
    background-size: 100%;
    background-position: center;
}

p5{
    color: black;
    font-weight: bold;
    text-align: center;
}

p6{
    color: white;
    font-weight: bold;
    font-size: 20px;
    opacity: 0%;
    transition: 1s;
    pointer-events: none;
}

.circle {
    position:absolute;
    top: 60px;
    left: -160px;
    background: #33cccc;
    border-radius: 50%;
    height: 11em;
    width: 11em;
    z-index: -1;
    box-shadow: 0px 0px 25px 5px #33cccc;
  }

  .circle2 {
    position:absolute;
    top: 60px;
    left: 67px;
    background: #66ccff;
    border-radius: 50%;
    height: 11em;
    width: 11em;
    z-index: -1;
    box-shadow: 0px 0px 25px 5px #66ccff;
  }

  .circle3 {
    position:absolute;
    top: 60px;
    left: 288px;
    background: #6666ff;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 5px #6666ff;
    height: 11em;
    width: 11em;
    z-index: -1;
  }

  .circle4 {
    position:absolute;
    top: 320px;
    left: -155px;
    background: #66ff66;
    box-shadow: 0px 0px 25px 5px #66ff66;
    border-radius: 50%;
    height: 11em;
    width: 11em;
    z-index: -1;
  }

  .circle5 {
    position:absolute;
    top: 60px;
    left: 510px;
    background: #ff66ff;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 5px #ff66ff;
    height: 11em;
    width: 11em;
    z-index: -1;
  }

  .circle6 {
    position:absolute;
    top: 320px;
    left: 67px;
    background: #ffff66;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 5px #ffff66;
    height: 11em;
    width: 11em;
    z-index: -1;
  }

  .circle7 {
    position:absolute;
    top: 320px;
    left: 288px;
    background: #ff9966;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 5px #ff9966;
    height: 11em;
    width: 11em;
    z-index: -1;
  }

  .circle8 {
    position:absolute;
    top: 320px;
    left: 510px;
    background: #ff0066;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 5px #ff0066;
    height: 11em;
    width: 11em;
    z-index: -1;
  }

  .item1:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.item2:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.item3:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.item4:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.item5:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.item6:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.item7:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.item8:hover p6{
    background-size: 100%;
    background-position: center;
    opacity: 100%;
}

.square{
    position: absolute;
    top: 0px;
    left: 960px;
    height: 937px;
    width: 960px;
    background-color: #111;
    z-index: -2;
}

.square2{
    position: absolute;
    top: 596px;
    left: 0px;
    height: 36.4%;
    width: 960px;
    background-color: #111;
    z-index: -2;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #1D1D1D;
    color: white;
    text-align: center;
  }

p7{
    font-size: 14px;
    top: 10px;
    left: 44.3%;
    position: absolute;
}

p8{
    font-size: 25px;
    top: 640px;
    left: 438px;
    position: absolute;
    color: white;
}

p9{
    font-size: 18px;
    top: 700px;
    left: 200px;
    position: absolute;
    color: white;
}
 .yellow{
     color: #FFF300;
 }
