*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

h2{
    font-weight: bold;
}

.search-bar{
    position: absolute;
    height: 45px;
    border-radius: 40px;
    padding: 7px;
    top: 43px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3640;
    border-color: white;
    border-style: solid;
}

.search-button{
    float: right;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #2f3640;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    outline: none;
    text-decoration: none;
}
.search-tool{
    width: 0px;
    float: left;
    color: white;
    padding: 0;
    font-size: 16px;
    transition: 0.5s;
    line-height: 25px;
    border: none;
    background: none;
    outline: none;
}
.search-bar:hover > .search-tool, .search-tool:focus{
    width: 250px;
    padding: 0 6px;
}
.search-bar:hover > .search-button{
    background: white;
}
.logo{
    position: relative;
    top: -35px;
    left: 16px;
    width: 50px;
    height: 50px;
    background: url(pixela2.jpg) no-repeat;
}

#slideshow {
    overflow: hidden;
    top: -118px;
    width: 870px;
    left: 90px;
    position: relative;
    z-index: -2;
}

#slideshow figure{
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    animation: 50s slideshow infinite;
}

#slideshow figure img{
    float: left;
    width: 10%;
}

@keyframes slideshow {
    0%{
        left:0;
    }
    7%{
        left:0;
    }
    9%{
        left: -100%;
    }
    21%{
        left: -100%;
    }
    23%{
        left: -200%;
    }
    35%{
        left: -200%;
    }
    37%{
        left: -300%;
    }
    45%{
        left: -300%;
    }
    47%{
        left: -400%;
    }
    55%{
        left: -400%;
    }
    57%{
        left: -500%;
    }
    65%{
        left: -500%;
    }
    67%{
        left: -600%;
    }
    75%{
        left: -600%;
    }
    77%{
        left: -700%;
    }
    85%{
        left: -700%;
    }
    87%{
        left: -800%;
    }
    95%{
        left: -800%;
    }
    97%{
        left: -900%;
    }
    100%{
        left: -900%;
    }
}


